
/* body, html {
  height: 100%;
} */

body {
  font-family: "Alumni Sans", sans-serif;
}

.nav-item {
  font-size: 2rem;
}

/*************************************************************************************************************************************************************************************************
**************************************
Custom Styles for Navbar
***************************************************************************************************************************************************************************************************************************************/

.opacity-hover-off {
  background-color: rgba(0, 0, 0, 0.5);
}

.opacity-hover-off:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.navbar-nav .nav-link {
  color: white;
  font-size: 1.2rem;
}

.navbar-nav .nav-link:hover {
  background-color: white;
  color: black;
}


/* Hide navbar on small screens */
@media (max-width: 480px) {
  #myNavbar {
    display: none;
  }
} 



/*************************************************************************************************************************************************************************************************
**************************************
Custom Styles for Header
***************************************************************************************************************************************************************************************************************************************/

.bg-img {
  background-image: url('./assets/burger-fries-jonathan-borba-unsplash.jpg');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

.btn {
  min-width: 100px;
  border: 5px solid black;
}

/* Cart Icon. Other styling for cart are below*/

.cart-icon {
  width: 2rem;
  height: 1.35rem;
}



/*************************************************************************************************************************************************************************************************
**************************************
Custom Styles for Menu
***************************************************************************************************************************************************************************************************************************************/

.menu-btn {
  border-color: orange;
  background-color: rgb(196, 117, 22);
  border-radius: 15px;
}


/*************************************************************************************************************************************************************************************************
**************************************
Custom Styles for About
***************************************************************************************************************************************************************************************************************************************/

.about-section {
  background-color: rgb(99, 47, 126);
}

.img-greyscale {
  filter: grayscale(100%);
} 



/*************************************************************************************************************************************************************************************************
**************************************
Custom Styles for Contact
***************************************************************************************************************************************************************************************************************************************/

/* XL form inputs */
.extra-large {
  height: 60px;
  font-size: 1.8rem;
}


/*************************************************************************************************************************************************************************************************
**************************************
Custom Styles for Auth pages
***************************************************************************************************************************************************************************************************************************************/

.login-section {
  height: 100vh;
  /* border: 2px solid black; */
  /* background: rgba(134, 25, 25, 0.5); */
}

.login-page {
  margin: 100px 0;
  /* border: 2px solid green; */
  /* background: rgba(134, 25, 25, 0.5); */
}

.formSection {
  border: 2px solid rgba(134, 25, 25, 0.5);
  color: rgba(134, 25, 25, 0.8);
  width: 40%;
  background-color: white;
  padding: 50px;
  border-radius: 10px;
  margin-top: 70px;
}

.form-link {
  color: rgba(46, 2, 2, 0.8);
  text-decoration: none;
}

.login-btn {
  height: 40px;
  width: 100%;
  border: none;
  border-radius: 50px;
  background-color: rgba(134, 25, 25, 0.5);
}

/* .form-control {
  color: rgba(0, 0, 0, 0.87);
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 4px 4px 0 0;
} */

/* Add media query for buttons to be 50% on wider screens */



/*************************************************************************************************************************************************************************************************
**************************************
Custom Styles for cart page
***************************************************************************************************************************************************************************************************************************************/

.cart-section {
  /* border: 2px solid green; */
  margin-top: 70px;
}

.cart-item {
  /* border: 2px solid red; */
  padding: 5px;
}

.cart-input {
  width: 2rem;
}

/* To turn the cartIcon white on hover. Not working currently */
/* .cart-hover:hover {
  color: white;
} */

.special-btn {
  width: 30px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.special-btn:hover {
  background: rgba(34, 24, 24, 0.842);
  color: white;
}